
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style></style>

</head>
<body style="background-color:grey">

    <div id="YanMenu" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">

            &times;
        </a>

        <a href="#">Anasayfa</a>
        <a href="#">PHP</a>
        <a href="#">CSS</a>
        <a href="#">HTML</a>
    </div>

    <div id="main">
        <span style="font-size:40px;cursor:pointer;top:0px" onclick="openNav()">

            &#9776;
        </span>

    </div>
    <div class="d-flex ">


        @RenderBody()


    </div>






    <script>
        
       
        $(document).ready(function () {
            $("#MyNavbar").css("display", "none");
        })

        function openNav() {
            document.getElementById("YanMenu").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            $("#MyNavbar").css("display", "block");
        }

        function closeNav() {
            document.getElementById("YanMenu").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            $("#MyNavbar").css("display", "none");
        }
    </script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
