@model PersonelList.Areas.Admin.Model.Alogin

@{
    ViewBag.Title = "Admin Login";
    Layout = "~/Areas/Admin/Views/Shared/_LoginLayout.cshtml";
}
<h2 class="display-3 font-weight-bold">Personel Information System</h2>
<div class="col-md-8 m-auto">

    <hr style="height:20px;" />
</div>

@using (Html.BeginForm("/Alogin"))
{
    @Html.AntiForgeryToken()
    <div class="d-flex justify-content-center col-md-6 col-12 m-auto py-5">
        <div class="card">
            <div class="pt-4">
                <h4>Admin Login</h4>

            </div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group d-flex justify-content-between">
                <div class="col-md-4">
                    <label>Username: </label>
                </div>

                <div class="col-md-8">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group d-flex justify-content-between">
                <div class="col-md-4">
                    <label class="was-validated">Password: </label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Login" class="btn btn-outline-dark  btn-lg btn-block" />
            </div>

        </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
