@model PersonelList.Areas.Admin.Model.Register

@{
    ViewBag.Title = "Register";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
<link href="~/Content/themes/base/base.css" rel="stylesheet" />
<link href="~/Content/jquery-ui.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        console.log("burda")
        $("#datepicker").datepicker("option", "dateFormat", "d MM, y")(jQuery);
     
    })


      

    
</script>



<div class="row d-flex">
    <div class=" col-md-10 m-auto">
        <form action="/" method="post" enctype="multipart/form-data">
            <div class="row">


                <div class="col-md-6">
                    <label class="form-control text-white font-weight-bold" style="background-color:grey;border:none">Resim Seç  : </label>
                </div>

                <div class="col-md-6" style="padding-left: 140px">
                    <label for="inputTag" class="label" style="cursor:pointer">

                        <i class="fa fa-2x fa-camera"></i>
                        <input id="inputTag" type="file" multiple name="ImageFiles" style="display:none" />
                        <br />
                    </label>
                    <span class="text-white" visible="false" style="font-size:15px" id="imageName"></span>
                </div>
                <div class="col-md-6">
                    <label class="form-control text-white font-weight-bold" style="background-color:grey;border:none">Adınız : </label>

                </div>
                <div class="col-md-6">
                    <input type="text" name="@Model.FirstName" value="" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label class="form-control text-white font-weight-bold" style="background-color:grey;border:none">Soyadınız : </label>

                </div>
                <div class="col-md-6">
                    <input type="text" name="@Model.LastName" value="" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label class="form-control text-white font-weight-bold" style="background-color:grey;border:none">Telefon Numarası : </label>

                </div>

                <div class="col-md-6">
                    <input type="text" name="@Model.Phone" value="" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label class="form-control text-white font-weight-bold " style="background-color:grey;border:none">Doğum Tarihi : </label>

                </div>
                <div class="col-md-6">
                    <input type="text" id="datepicker" size="30">
                    <input type="date" name="@Model.BirthDay" value="" class="form-control detePicker" />
                </div>
                <div class="col-md-6">
                    <label class="form-control text-white font-weight-bold" style="background-color:grey;border:none">Yöneticilik Durumu : </label>

                </div>
                <div class="col-md-6">
                    <input type="checkbox" name="@Model.IsManager" class="form-control" style="border:none" />
                </div>
                <div class="col-md-6">

                </div>
                <div class="col-md-6" style="padding-left:115px">
                    <button class="btn btn-info">Kaydet</button>
                </div>

            </div>


        </form>

    </div>


</div>





<script>



    $("#inputTag").css("visible", true);

    (document.getElementById("inputTag")).addEventListener("change", () => {
        let inputImage = document.querySelector("input[type=file]").files;
        var count = inputImage.length;
        console.log(count)
        $("#inputTag").css("visible", "false");
        document.getElementById("imageName").innerText = "    (" + count + ") Adet";
    })
</script>

